{% extends "::base.html.twig" %}

{% block title %}Liga{% endblock %}

{% block body %}
    <h1>Llistat de temporades Liga</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>
                Temporades
            </th>
        </tr>
        </thead>
        <tbody>
        {% for partit in partits %}
            <tr>
                <th scope="row">
                    <a href="{{ path('app_liga_llistarpartits', {'temp': partit.temporada}) }}">
                        {{ partit.temporada }}
                    </a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}